<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings configSource="appSettings.config"></appSettings>
  <!--
  CREATE A FILE NAMED appSettings.config NEXT TO App.config WITH THE FOLLOWING STRUCTURE:
  
  <?xml version="1.0" encoding="utf-8"?>
  <appSettings>
    <add key="OpisenseApi" value="https://api.opinum.com/"/>
    <add key="OpisenseIdentity" value="http://identity.opinum.com/"/>
    <add key="OpisensePush" value="http://push.opinum.com/api/"/>
    <add key="OpisenseUsername" value="[YOUR USERNAME]"/>
    <add key="OpisensePassword" value="[PASSWORD OF THE USER]"/>
    <add key="OpisenseClientId" value="[CLIENT ID]"/>
    <add key="OpisenseClientSecret" value="[CLIENT SECRET]"/>
    <add key="DefaultTimezone" value="Romance Standard Time"/>
  </appSettings>
  
  -->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>